<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Hangman!</title>
  </head>
  <body>
    <div class="container">
      <h1>Play hangman!</h1>
      <form method="post" action='/guess_letter'>
        <input type="text" name="letter" placeholder="input your guess" pattern="[A-Za-z]{1}" autofocus>
        <button type="submit">Submit Guess</button>
      </form>
      <p>Word: {{ game.getDisplayString }}</p>
      <p>Incorrect guesses: {{ game.getGuessedString }}</p>
      <p>Correct guesses: {{ game.getCorrectLetters }}</p>
      <p>Victory: {{ game.getVictory }}</p>
      <form action="/reset">
        <button type="submit">Reset Game</button>
      </form>
    </div>
  </body>
</html>
